* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

@font-face {
  font-family: "arialRounded";
  src: url("../fonts/arial_rounded_mt_extrabold-webfont.woff2") format("woff2"), url("../fonts/arial_rounded_mt_extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: "ProximaNova", "arialRounded", sans-serif;
  font-weight: normal;
}

body {
  background-color: #fff;
  color: #000;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  padding: 40px 100px;
  background: #3a87fe;
  border-radius: 50px;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.btn:hover {
  color: #ff9b00;
}

.header {
  position: relative;
  overflow: hidden;
  background-image: url("../images/icons/01-r-bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  z-index: 2;
}

.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__hero-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding-bottom: 20px;
}

.header__hero-image {
  display: block;
  max-height: 630px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__hero-description {
  max-width: 600px;
  text-align: center;
}

.header__title {
  font-weight: bold;
  font-size: 100px;
  line-height: 122px;
  text-align: center;
  margin-bottom: 35px;
}

.header__text {
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-bottom: 110px;
}

.header::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/green-c.svg");
  width: 150px;
  height: 100px;
  bottom: 0;
  right: 10%;
  background-repeat: no-repeat;
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 25%;
  left: -7%;
  background: url("../images/icons/01-l-bg.svg") no-repeat;
  background-size: 650px 650px;
  z-index: -1;
}

.logo {
  padding-top: 20px;
  padding-bottom: 67px;
  max-width: 420px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff9b00;
}

.logo__text {
  display: inline-block;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}

.logo .icon-logo {
  width: 104px;
  height: 104 px;
}

.client {
  margin-top: 70px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 527px;
}

.client-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__icon {
  padding: 10px 10px;
  background: #76bb40;
  border-radius: 25px;
  margin-right: 40px;
}

.client .gallery {
  background: #3a87fe;
}

.client__text {
  display: block;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
}

.client .icon-like,
.client .icon-gallery {
  width: 80px;
  height: 80px;
}

.advantage {
  position: relative;
  background-image: url("../images/icons/advantage-bg.svg");
  background-repeat: no-repeat;
  background-size: 600px 800px;
  background-position: 100% 0;
}

.advantage-container {
  max-width: 730px;
  margin: 0 auto;
  padding-bottom: 120px;
  margin-top: 50px;
}

.advantage__title {
  font-weight: bold;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  margin-bottom: 65px;
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 45px;
}

.advantage__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 25px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.advantage__item-text {
  max-width: 577px;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin-top: 15px;
  margin-left: 48px;
}

.advantage__item:nth-child(1) .advantage__item-icon {
  background: #ff9b00;
}

.advantage__item:nth-child(1) .advantage__item-icon:hover {
  -webkit-box-shadow: 0 0 50px #b16c04;
          box-shadow: 0 0 50px #b16c04;
}

.advantage__item:nth-child(1) .advantage__item-icon svg {
  width: 54px;
  height: 54px;
}

.advantage__item:nth-child(1) .advantage__item-icon .icon-time-left {
  fill: #fff;
}

.advantage__item:nth-child(1) .advantage__item-icon .icon-time-left:hover {
  fill: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.advantage__item:nth-child(2) .advantage__item-icon {
  background: #76bb40;
}

.advantage__item:nth-child(2) .advantage__item-icon:hover {
  -webkit-box-shadow: 0 0 50px #4e9716;
          box-shadow: 0 0 50px #4e9716;
}

.advantage__item:nth-child(2) .advantage__item-icon svg {
  width: 64px;
  height: 64px;
}

.advantage__item:nth-child(2) .advantage__item-icon .icon-wireless-charging {
  fill: #fff;
}

.advantage__item:nth-child(2) .advantage__item-icon .icon-wireless-charging:hover {
  fill: #000;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.advantage__item:nth-child(3) .advantage__item-icon {
  background: #3a87fe;
}

.advantage__item:nth-child(3) .advantage__item-icon:hover {
  -webkit-box-shadow: 0 0 50px #2076f8;
          box-shadow: 0 0 50px #2076f8;
}

.advantage__item:nth-child(3) .advantage__item-icon svg {
  width: 70px;
  height: 70px;
}

.advantage__item:nth-child(3) .advantage__item-icon .icon-stars {
  fill: #fff;
}

.advantage__item:nth-child(3) .advantage__item-icon .icon-stars:hover {
  fill: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.advantage__item .icon {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.advantage::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/orange.svg");
  top: -10%;
  left: 0;
  width: 300px;
  height: 250px;
}

.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 120px;
}

.demo::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 750px;
  bottom: 0;
  left: -1%;
  background-image: url("../images/icons/demo-left-bg.svg");
  background-repeat: no-repeat;
}

.demo__title {
  font-weight: bold;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  margin-bottom: 45px;
}

.demo__blue {
  font-weight: bold;
  color: #3a87fe;
}

.demo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
}

.demo__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.demo__item:nth-child(1) .demo__number {
  background-color: #ff9b00;
}

.demo__item:nth-child(2) .demo__number {
  background: #76bb40;
}

.demo__item:nth-child(3) .demo__number {
  background: #3a87fe;
}

.demo__item .icon-demo-right-arrow {
  width: 55px;
  height: 55px;
}

.demo__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
}

.demo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-left: 50px;
}

.demo__confirm {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
  background-color: #ff9b00;
  border-radius: 50px;
  padding: 20px 50px;
  margin-top: 100px;
}

.demo__btn {
  display: inline-block;
  margin-top: 75px;
}
/*# sourceMappingURL=style.css.map */